<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>mvcframework</display-name>
  
  	<servlet>
  		<servlet-name>dispatcher</servlet-name>
  		<servlet-class>com.ch.mvcframework.controller.DispatcherServlet</servlet-class>
  		<!-- 위의 서블릿이 태어난 직후 호출되는 init() 생명주기 매서드에 전달할 메개변수를 등록할 수있다. 
  			그리고 아래 파라미터 변수와 같은 init(ServletConfig)메서드의 메개변수로 정의된 ServletConfig 로 전달
  		-->
  		<init-param>
  			<param-name>contextConfigLocation</param-name>
  			<param-value>WEB-INF/Servlet-Mapping.txt</param-value>
  		</init-param>
  	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<!-- 앞에 어떤경로가 오든 상관없으며, 단 확장자가 ".do" 이면 DispatcherServlet을 만나게 됨 -->
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>


</web-app>