<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>site1118</display-name>
	<!--웹 브라우저로 클래스는 직접 접근할수 없으므로 가상의 url 주소로 매핑하여 우리의 서블릿을
		실행할 수있따. : 서블릿 매핑  -->
		<servlet>
			<servlet-name>controller</servlet-name>
			<servlet-class>controller.MyServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>controller</servlet-name>
			<url-pattern>/main</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>list</servlet-name>
			<servlet-class>com.ch.site1118.controller.ListController</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>list</servlet-name>
			<url-pattern>/table</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>registServlet</servlet-name>
			<servlet-class>com.ch.site1118.controller.RegistController</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>registServlet</servlet-name>
			<url-pattern>/member/regist</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>joinServlet</servlet-name>
			<servlet-class>com.ch.site1118.controller.JoinController</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>joinServlet</servlet-name>
			<url-pattern>/member/join</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>listServlet</servlet-name>
			<servlet-class>com.ch.site1118.controller.MemberList</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>listServlet</servlet-name>
			<url-pattern>/member/list</url-pattern>
		</servlet-mapping>
	
</web-app>