<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--><!-- The contents of this file will be loaded for each web application --><Context>

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->
    <ResourceLink 
    	name="jndi/mysql"
    	global="jndi/mysql"
    	type="javax.sql.DataSource"/>
    	
    	<!--
    		javax.sql.DataSource 는 javase 에서 정해놓은 인터페이스이고
    		이 인터페이스를 Tomcat이 구현한 커넥션풀링 구현체가 org.apache.tomcat.jdbc.pool.DataSourceFactory
    	-->
    	
    	<!-- 
    		sns 로그인 과련 보안 정보
    		왜 프로젝트 내에 등록하지 않고, 외부 설정파일을 이용해야 하는가 
    			ㄴ 이 컨텍스트 파일을 tomcat 서버 안에서 관리되는 파일이지.. 프로젝트 내에 포함되어 있지 않다.
    				따라서 개발자가 프로젝트 내에 중요한 데이터를 보관할 경우 GitHub 에 올렸을때 발생하는 보안 사고 방지
    		
    	 -->
		
    
</Context>