<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.mybatisapp.dto.Board">
	<!-- 개발자는 DAO의 존재는 그대로 유지하되, 단 기존 DAO 가 담당하는 JDBC 코드를 Mybatis의 xml에 작성하고,
			이 xml에 접근할 때는 네임스페이스와,아이디를 이용하여 간접적으로 쿼리를 수행한다.
	 -->
	<insert id="insert" parameterType="com.ch.mybatisapp.dto.Board">
		insert into board(title, writer, content) values(#{title},#{writer},#{content})
		
	</insert>
	<!-- 아래의 쿼리문 수행후 반환되는 레코드 한건을 받게될 DTO 를 명시해야 한다. 
			주의 아래의 쿼리에 의해 반환되는 레코드가 여러건이라 해서 java.util.List를 resultType에 명시해서는 안됨
			이미 내부적으로 List가 사용중이기 때문에
	-->
	<select id="selectAll" resultType="com.ch.mybatisapp.dto.Board">
		select board_id,title,writer,content,regdate,hit from board order by board_id desc
	</select>
	<update id="update" parameterType="com.ch.mybatisapp.dto.Board">
		update board set title=#{title},writer=#{writer},content=#{content} where board_id=#{board_id}
	</update>
	<!-- 주입시킬 파라미터가 1건밖에 없으므로, 굳이 DTO를 명시하지 않고 기본자료형만 사용하면 알아서 대입  -->
	<delete id="delete" parameterType="int">
		delete from board where board_id=#{board_id}
	</delete>
</mapper>

