<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<insert id ="insert" parameterType="board">
		insert into board(title, writer, content)
		 values(#{title},#{writer},#{content})
	</insert>
	
	<!-- 중복되는 쿼리문의 일부를 빼서 재사용 하기 위함 => 변수 -->
	<sql id="sql_select">
		select board_id, title, writer, content, regdate, hit 
		from board	
	</sql>
	
	<!-- 자동으로 매칭시킨다 sqlMapper 
			resultType 이 매핑 기술
	-->
	<select id="selectAll" resultType="Board">
	 	 <include refid="sql_select"/> order by board_id desc
	</select>
	
	<select id ="select" resultType="Board" parameterType="int">
		<include refid="sql_select"/> where board_id=#{board_id};
	</select>
	
	<update id="update">
		update board set title =#{title},writer=#{writer},content=#{content} where board_id=#{board_id};
	</update>
	
	<delete id="delete" parameterType="int">
		delete from board where board_id=#{board_id}
	</delete>
	
	
</mapper>