<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">

<insert id="insert" parameterType="Product">
	insert into product(product_name,brand,price,discount,introduce,detail,subcategory_id) 
	values(#{product_name},#{brand},#{price},#{discount},#{introduce},#{detail},#{subCategory.subcategory_id})
	
	<!-- 레코드를 인서트 하자마자, 방금 들어간 pk값을 반환해야할 업무가 상당히 빈번하다.
			따라서 Mybatis 에서는 이 기능을 별도의 쿼리문으로 수행하지 않고, 현재 insert 태그 내에서 지원하는 방법을 제공
			last_insert_id() 내가 일으킨 쿼리문의 pk 증가값만 반환된다.
			오라클 : 시퀀스명.currval 
			
	 -->
	 <selectKey keyColumn="product_id" resultType="int" order="AFTER" keyProperty="product_id" >
	 	select last_insert_id() as product_id
	 </selectKey>
</insert>

<!-- mybatis에 의해 DTO 와 컬럼명이 일치하지 않을 경우 자동 매핑이 실행될 수 없으므로 
		이 시점부터는 개발자가 나서서 수동으로 매핑을 시도할 수 있다.
		resultMap  직접 조인하는 방법
 -->
 <resultMap id ="productMap" type="Product">
 	<id column="product_id" 					property="product_id"/>
 	<result column="product_name" 		property="product_name"/>
 	<result column="brand" 					property="brand"/>
 	<result column="price" 					property="price"/>
 	<result column="discount"				property="discount"/>
 	<result column="introduce" 				property="introduce"/>
 	<result column="detail" 					property="detail"/>
 	
 	
 	<!-- 다른 테이블에 레코드 1건을 가져오자. -->
 	<!-- Join 과 같은 기능
 		association 이란 부모의 레코드를 가져오는 기능을 말하며 자식과 부모 관계인 1:1 상황에 사용됨.
 	 <association column="자식의 id" property="아래 속성이 있다면"
 		select="SubCategory.select"
 	-->
 	<association column="subcategory_id" property="subCategory"
 		select="SubCategory.select"
 	/>
 	<!-- 
 	Join 과 같은 기능
 	<collection property="">
 		collection 이란 자식의 여러 레코드를 가져오는 기능  
 		Product DTO 와 같이 수정
 		<collection column="부모의 아이디" property="멤버변수" select="ProductImg.selectByProductId"
 		javaType="라이브러리 명" ofType="제너릭"/>
 	
 	-->
 	<collection column="product_id" property="productImgList" select="ProductImg.selectByProductId"
 	javaType="java.util.List" ofType="ProductImg"/>
 	
 </resultMap>
 
<!-- 모든 상품 가져오기  resultType = DTO -->
<select id="selectAll" resultMap="productMap">
	select product_id, product_name, brand, price, discount,introduce, detail, subcategory_id
	from product
	

</select>


</mapper>