<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductSize">
		<insert id="insert" parameterType="ProductSize">
		insert into product_size(product_id, size_id) values(#{product.product_id},#{size.size_id})
	</insert>
</mapper>