<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Size">

<select id="selectAll" resultType="Size">
	select size_id,size_name from size
</select>

<!-- 특정 상품에 소속된 색상만 가져오기 -->
<select id="selectByProductId" parameterType="int" resultType="Size">
	select size_id,size_name 
	from size 
	where size_id in(select size_id from product_size where product_id =#{product_id})
</select>


</mapper>