 .container {
            width: 700px;
            height: 700px;
            background-color: antiquewhite;
            margin: auto;
        }
        .header {
            width: 100%;
            height: 50px;
            float: left;
            background-color: bisque;
            text-align: center;
            line-height: 50px;
        }
        .days {
            width: 100%;
            height: 50px;
            float: left;
            background-color: rgb(231, 162, 77);
            position: relative;
            text-align: center;
            line-height: 50px;
        }
        .content {
            width: 100%;
            height: 600px;
            float: left;
            background-color: rgb(184, 226, 199);
            position: relative;
        }
