<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">

<!-- 글 1건 등록 -->
<insert id ="insert" parameterType="Board">
	insert into board(title, writer, content) values(#{title},#{writer},#{content})
</insert>
<!-- 모든 글 가져오기 -->
<!-- 개발자가 resultType의 DTO를 명시 해야만 select 절에 들어있는
	컬럼의 값을 이DTO에 자동으로 채워준다.. 이렇듯 데이터베이스의 컬럼과 java 객체간의
	데이터 매핑을 자동으로 해준다고 하여 mybatis 같은 프레임 워크를 가리켜
	
	
	["hibernate", "JPA"] - ORM  (외국에서 압도적 , 쿼리문 사라짐)
	["Mybatis"] - SQL Mapper  (자바객체와 쿼리문과의 매핑을 자동으로 해줌)
	
	주의 할점 ) select 쿼리 실행후 반환 되는 레코드가 여러 건일 경우 mybatis 는 자동으로 java.util의 List를 생성하고
				resultType으로 지정한 DTO를 List에 자동으로 채워넣는다. 
				따라서 개발자는 아래의 id를 호출한후 반환받는 데이터가 List이다.
	-->
<select id ="selectAll" resultType="Board">
	select board_id, title, writer,content,regdate,hit from board order by board_id desc
</select>

<!-- select 문에 의한 레코드 반환 수가 1건일 때는 List 가 반환되지 않는다. 대신 1건의 레코드를 담은 DTO 가 반환된다. -->
<select id ="select" parameterType="int" resultType="Board">
		select board_id, title, writer,content,regdate,hit from board where board_id=#{board_id}
</select>
</mapper>