<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 별칭 등록 -->
<typeAliases>
	<typeAlias type="com.ch.mvcframework.dto.Board" alias="Board"/>
	<typeAlias type="com.ch.mvcframework.dto.Dept" alias="Dept"/>
	<typeAlias type="com.ch.mvcframework.dto.Emp" alias="Emp"/>
</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="JNDI">
      <!-- java:com/env/jndi/mysql --><!-- mybatis가 tomcat의 커넥션 풀 사용 -->
        <property name="data_source" 	value="java:comp/env/jndi/mysql"/>

      </dataSource>
    </environment>
  </environments>
<!-- 자바 코드 대신, 뭐리문을 작성해놓은 파일을 가리켜 매퍼라 하며, 매퍼의 위치는 아래의 mappers 태그의 자식 태그로 등록해야함. -->   
	<mappers>
	
    <mapper resource="com/ch/mvcframework/mybatis/BoardMapper.xml"/>
    <mapper resource="com/ch/mvcframework/mybatis/DeptMapper.xml"/>
    <mapper resource="com/ch/mvcframework/mybatis/EmpMapper.xml"/>

    
  </mappers> 

</configuration>